.result{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.result-text{margin-left: 5px;}

.spent{
    text-align: center;
}

.calories-spend{
    font-size: 150px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.kcal{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

.description-calories{
    text-align: center;
    margin-top: -20px;
    margin-left: 5px;
}

.title-macronutrients{
    font-size: 30px;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    margin-top: 20px;
    
}

.divider{
    background-color: #000;
    height: 15px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.row-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    margin: 20px;
    width: 90%;
}

.card-body{
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    text-align: start;
    font-size: 18px;
    justify-content: space-around;
}

.basal{
    margin-top: 20px;
}

.your-result{
    margin-left: 5px;
    font-weight: 100;
}

.card-header{
    text-align: center;
    padding: 20px 10px;
    color: #fff;
}

.card1{
    background: linear-gradient(to right, #48F08E, #3BC474);
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}

.macro-values{
    border-bottom: solid 1px #000;
    margin-bottom: 5px;
}

table{
    border-collapse:separate; 
    border-spacing: 0 1em;
}

th{
    padding-right: 10px;
}

.result-component{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .calories-spend{
        font-size: 90px;
    }

    .kcal{
        font-size: 20px;
    }
}