.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: cornflowerblue;*/
    margin: auto;
    
}

.description{
    color: #000;
    margin: 20px 5px;
}

h3{
    margin-left: 5px;
    font-weight: 100;
}

.buttons-sex{
    display: flex;
    justify-content: center;
}

.params{
    text-align: start;
    color: white;
}

.calculator-text{
    font-family: 'Fugaz One', cursive;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.age-weight-height{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.input-age-weight-height{
    border: 2px solid #fff;
    appearance: none;
    background: transparent;
    padding: 12px;
    border-radius: 20px;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.custom-field{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: transparent;
    transition: top 0.3 ease,
    font-size 0.3s ease,
    color 0.3s ease 
}

.custom-field input:focus + .placeholder{
    top: 10px;
    font-size: 10px;
    color: #fff;
}


input::placeholder{
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    transition: color 0.9s ease;
}

input:focus{
    background-color: #fff;
}

input:focus::placeholder{
    color: transparent;
}

.activity{
    margin-bottom: 10px;
    color: #fff;
}

strong{
    color: #fff;
}

.description-activity{
    display: flex;
    margin-bottom: 20px;
}

.description-activity-p{
    color: #fff;
    margin-left: 5px;
    text-align: justify;
    margin-right: 5px;
}

.progress-bar{
    margin-left: 5px;
}

.progress-bar li{
    list-style: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    font-weight: 900;
    color: #fff;
    
}

.progress-bar li:before{
    content: "O";
    background-color: #fff;
    color: white;
    width: 30px;
    height: 30px;
    border: 3px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    border-radius: 50%;

}

/* linha */
.progress-bar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 23px;
    left: -50%;
    z-index: -1;
}

.progress-bar li:first-child::after{
    content: none;
}

.progress-bar li.active::before{
    background-color: #000;
    color: #000;
    border-color: #fff;
}

.description-hidden{
    display: none;
}

.select{
    border: 2px solid #fff;
    width: 230px;
    margin: 10px;
    background: transparent;
    padding: 12px;
    border-radius: 20px;
    outline: none;
    color: white;
    font-size: 14px;
}




@media screen and (min-width: 960px) {
    .home-container{
        width: 40%;
    }

    .activity-mobile{
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .age-weight-height{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .input-age-weight-height{
        margin: 10px;
    }

    .activity-section{
        display: none;
    }
}