.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: cornflowerblue;*/
    margin: auto;
    
}

.description{
    color: #000;
    margin: 5px;
}

h4{
    margin-left: 5px;
}

.buttons-sex{
    display: flex;
    justify-content: center;
}

.params{
    text-align: start;
    color: white;
}

.calculator-text{
    font-family: 'Fugaz One', cursive;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

@media screen and (min-width: 960px) {
    .home-container{
        width: 40%;
    }
}